@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --black: #181A1B;
  --green: #8CE16E;
  --white: #FFFFFF;
  --font-family: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}